/target
dist

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
weights.txt
predicted_genres.txt
data
lastfm/A
lastfm/B
lastfm/__pycache__
lastfm/similars.json
lastfm/ids.txt
lastfm/fasttext_categories.model
lastfm/fasttext_categories.model.wv.vectors_ngrams.npy
.idea
music.iml
__pycache__

my-release-key.jks

apk
