/target
dist

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

weights.txt
predicted_genres.txt
data
lastfm/A
lastfm/B
lastfm/__pycache__
lastfm/similars.json
lastfm/ids.txt
