.alltracksview {
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
}

.trackitemoptions {
    margin: auto;
    width: 24px;
    height: 24px;
    filter: brightness(2);
}

.trackitem img {
    aspect-ratio: 1;
    width: 40px;
    border-radius: 4px;
    object-fit: cover;
}

.scroll-anchor {
    position: sticky;
    top: 0;
    height: 1px;
}

