.condition {
    color: white;
}

.condition-is, .condition-has, .condition-greater, .condition-lesser, .condition-equalto {
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    display: flex;
    align-items: center;
    vertical-align: top;
}

.condition-all, .condition-any, .condition-not, .condition-missing {
    padding: 10px;
}

.condition-slot {
    border: 1px solid darkgrey;
    border-radius: 8px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.condition-not {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    padding: 0 10px;
}

.condition-add {
    display: flex;
    gap: 5px;
}

.autoplaylist-menu {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    padding: 0 5px;
}

.autoplaylist-menu button {
    flex: 1 1 0;
}
