.searchpopup {
    width: 75%;
    max-height: 100%;
    padding: 10px;
    margin: auto;
    background: var(--bg);
    border: 1px solid var(--weakfg);
    border-radius: 6px;
}

.searchpopupbar {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.pseudoinput {
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--weakfg);
    padding: 10px;
}

.albumitem {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1 1 140px;
    max-width: calc(33vw - 12px);
    aspect-ratio: fit-content;
    border: 1px solid #3b3a3a;
    border-radius: 8px;
    box-shadow: 0 0 4px 1px #000000bd;
}

.albumsholder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
}

.albumitem img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.albumitem span {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
}

.albuminfo {
    padding: 5px;
    display: flex;
    flex-direction: column;
} 

.searchtracks {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: calc(100% - 40px);
}

.searchbar {
    width: calc(100% - 10px);
    border-bottom: 1px solid grey;
    padding: 5px;
    display: flex;
    gap: 5px;
}

.searchbar img {
    flex: 0;
}

.searchbar input, .searchpopupbar input {
    flex: 1;
    background: var(--bg);
    color: var(--fg);
    border-radius: 6px;
    border: 1px solid var(--weakfg);
}

.searchholder {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: absolute;
    height: 90%;
    width: 100%;
}

.artists, .albums {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
}

.tracksview {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

.tracksviewheader {
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
    justify-content: space-between;
}

.tracksviewheader img {
    filter: brightness(2);
}

.tracksviewheader h3 { 
    margin: 0 auto;    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.trackbutton {
    height: 30px !important;
    width: 30px !important;
    margin: auto;
}

.tracklist {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: fit-content;
    scroll-behavior: smooth;
}

#genrelist {
    padding-left: 10px;
}

.tracklist .current {
    border-radius: 8px;
    background: rgb(44 47 48);
}

.thinitem small {
    margin-left: 10px;
}

#artistlist .thinitem {
    margin-left: 10px;
}

.trackitem {
    min-height: 40px;
    max-height: 40px;
    display: flex;
    flex-direction: row; 
    padding: 6px;
    margin: 4px;
    border: 1px solid var(--bg);
    background: #1d2021;
    width: calc(100% - 20px);
}

.searchviewresults {
    height: 100%;
    padding: 10px;
    overflow: hidden scroll;
}

.searchviewresults h3 {
    text-decoration: underline;
    font-weight: 400;
    margin: 8px 0px 5px 0px;
    padding: 0;
}

.trackitemicon {
    height: 40px;
    width: 40px;
    border-radius: 2px;
    object-fit: cover; 
    object-position: center center;
}

.trackitem span {
    margin: auto 10px;
}

.thinitem {
    color: var(--fg);
    padding: 10px 5px;
}
