.librarymanagementview {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-width: 100vw;
    position: relative;
    overflow: hidden;
    flex-direction: column;
}

.librarymanagementview .header {
    padding: 2px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: calc(100vw - 20px);
    height: 30px;
    padding: 10px;
}

.duplicategroup {
    border-bottom: 1px solid grey;
    display: flex;
}

.duplicates {
    height: 90vh;
    overflow-y: scroll;
    color: white;
}

.duplicatesong {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.duplicatesongs {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}