.librarymanagementview {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-width: 100vw;
    position: relative;
    overflow: hidden;
    flex-direction: column;
}

.librarymanagementview .header {
    padding: 2px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: calc(100vw - 20px);
    height: 30px;
    padding: 10px;
}

.duplicategroup {
    border-bottom: 1px solid grey;
    display: flex;
}

.duplicates {
    height: 90vh;
    overflow-y: scroll;
    color: white;
}

.duplicatesong {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.duplicatesongs {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.taggingview {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 120px);
    gap: 10px;
    color: white;
}

.tags {
    flex: 1 1 0;
    border: 1px solid darkgrey;
    border-radius: 16px;
    overflow-y: scroll;
    padding: 10px;
}

.tags img {
    object-fit: contain;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.tagsidebyside {
    display: flex;
    gap: 10px;
    flex: 1 1 0;
    overflow: hidden;
}

.customtagsearch {
    display: flex;
    gap: 10px;
}

.customtagsearch a {
    color: var(--accent);
}

.customtagsearch input {
    flex: 1 1 0;
}

.tagchoices {
    display: flex;
    gap: 10px;
}

.tagchoices button {
    flex: 1 1 0;
}

.accentbutton {
    background-color: var(--accent);
    border: 1px solid var(--accent);
}