.search-button {
    background-image: url("icons/search.svg")
}

.settings-button {
    background-image: url("icons/settings.svg")
}

.menubar {
    border-top: 1px solid var(--accent);
}

.nav {
    border-top: 1px solid var(--weakfg);
    display: flex;
    justify-content: space-between;
    width: calc(100% - 30px);
    margin: 5px;
    padding: 10px 5px;
    padding-top: 10px;
}
