.menubar {
    border-top: 1px solid var(--accent);
}

.nav {
    display: flex;
    border-top: 1px solid var(--weakfg);
    justify-content: space-between;
    width: calc(100vw - 20px);
    padding: 10px;
    padding-bottom: 15px;
}
