.settingsview span {
    width: 150px;
    display: inline;
}

.settingsview {
    display: flex;
    padding: 10px;
    flex-direction: row;
    height: 100%;
    min-width: calc(100vw - 20px);
    height: calc(100% - 20px);
    position: relative;
    overflow: hidden;
}

.settingsmenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    max-width: 900px;
    width: 100%;
    margin-top: 30px;
}

.settingslistbutton {
    z-index: 10;
    background: none;
    background: url(icons/menu.svg);
    width: 24px !important;
    height: 24px;
    margin-left: 6px;
    border: none;
    filter: brightness(2);
    position: absolute;
}

.settingsview span {
    width: 150px;
    display: inline;
}

.settingsbutton {
    background: #313131;
    transition: width 1s, color 1s;
    color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, .32);
    border-radius: 5px;
    height: 30px;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    gap: 10px;
    text-align: left;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    border: none;
}

.settingsbar {
    width: fit-content;
    margin: 0;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 5px;
    padding-left: 2px;
}

.back {
    background-image: url("icons/back.svg");
    height: 24px;
    margin: 5px;
}

.settingsbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10px;
    align-content: space-evenly;
    max-width: 900px;
    margin: auto;
    width: 100%;
}

input[type=text] {
    border: 1px solid grey;
    background: none;
    color: white;
    padding-left: 5px;
    border-radius: 5px
}

input[type=text]:active {
    border: 1px solid white;
}

input[type=text]:hover {
    border: 1px solid lightgrey;
}

input[type=checkbox] {
    appearance: none;
    background-color: grey;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
}

input[type=checkbox]::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

input[type=checkbox],
input[type=checkbox]::after {
    transition: all 100ms ease-out;
}

input[type=checkbox]::after {
    background-color: whitesmoke;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

input[type=checkbox] {
    cursor: default;
}

input[type=checkbox]:hover {
    transition-duration: 0s;
    opacity: 0.9;
}

input[type=checkbox]:checked {
    background-color: cornflowerblue;
}

input[type=checkbox]:checked::after {
    background-color: white;
    left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
    outline: 0;
}

.settingbox {
    background: #313131;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    display: flex;
    box-shadow: 0 0 2px rgba(0, 0, 0, .32);
    justify-content: space-between;
    line-height: 28px;
    font-size: 14px;
    padding: 0 10px;
    align-items: center;
}

.settingslist {
    transition: width 1s; 
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    gap: 5px;
    padding-top: 30px;
    height: 100%;
}

.settingsbutton img {
    filter: brightness(2);
}

@media (max-width: 600px) {
  .settingslist {
    transition: left 1s;
    position: absolute;
    background: #1d2021;
    border-right: 1px solid grey;
    left: 0;
    top: 0;
    height: calc(100% - 20px);
    width: 100%;
    max-width: 300px;
    padding: 10px;
    padding-top: 45px;
    border-radius: 8px;
  }

  .closed {
    left: -500px;
  }
}

@media (min-width: 600px) {
    .closed .settingsbutton {
        color: #ffffff00
    }

    .settingslist button {
        width: 200px;
        overflow: hidden;
    }

    .closed button {
        width: 34px;
    }
}

.smalltextinput {
    width: 30px;
    margin-left: 10px;
}

.settingsinput {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.settingsselect {
    appearance: none;
    background: none;
    border: 1px solid grey;
    padding: 3px 10px;
    width: 100px;
}

.settingsselect:hover {
    border: 1px solid lightgrey;
}

.settingsselect:active {
    border: 1px solid white;
    outline: none;
}

option {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: white;
    background-color: #313131;
}

.selectwrapper {
    background: url(icons/down.svg) 100% no-repeat;
    overflow: hidden;
    background-position-x: calc(100% - 10px);
    background-position-y: 6px;
}
