.settingsview span {
    width: 150px;
    display: inline;
}

.settingsview {
    display: flex;
    padding: 10px;
    flex-direction: row;
}

.settingsview span {
    width: 150px;
    display: inline;
}

.settingsheader {
    margin: 7px;
    margin-bottom: 0px;
    padding: 3px;
    padding-bottom: 10px;
    border-bottom: 1px grey solid;
}
