:root {
    font-family: "Rubik";
    --outline-color: #352e2e;
    --accent: cornflowerblue;
    --fg: white;
    --weakfg: #ffffff77;
    --bg: #1d2021;
}

html, body {
  overscroll-behavior: none;   
  overflow: hidden;           
  touch-action: none;         
  height: 100%;
}

.noselect {
  user-select: none;
  -webkit-user-select: none; 
  -ms-user-select: none; 
  pointer-events: auto; 
}

body {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    background: var(--bg);
}

span, p, small, h1, h2, h3 {
    color: var(--fg);
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
}

svg {
    filter: brightness(8);
}

.loadingpopup {
    z-index: 10;
    background: #1d2021;
    border: 1px solid #696969;
    border-radius: 8px;
    width: 320px;
    top: calc(50vh - 100px);
    height: fit-content;
    left: calc(50vw - 160px);
    position: absolute;
    box-shadow: 0 0 2px rgba(0, 0, 0, .32);
    padding: 10px;
    color: white;
}

.loadingpopupbg {
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(0 0 0 / 48%);
    width: 100vw;
    height: 100vw; 
}

.mainview {
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-behaviour: smooth;
}

.mainview:focus {
    outline: none;
}

.mainview .view {
    scroll-snap-align: center;
}

.mainview::webkit-scrollbar {
    display: none;
}

.mainview {
    &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: transparent;
}
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        background-color: transparent;
    }
}

.mainview {
    -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}

.svg-button {
    width: 24px;
    aspect-ratio: 1;
    border: none;
    background-color: transparent;
    filter: brightness(2);
}

.listensview {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    overflow-y: scroll;
}

.view {
    min-width: calc(100vw);
    background: var(--bg);
}

#trackview {
    background: none;
}

body {
    margin: 0;
    overflow: hidden;
    border-top: 1px solid var(--outline-color);
}

.nav .svg-button svg {
    width: 48px;
    height: 48px;
    background-size: 200% 200%;
}


input[type="range"] {
    --dist: 10%;
    appearance: none;
    background: var(--weakfg);
    height: 5px;
    border-radius: 5px;
    margin: 10px 0;
    --sep: 0px;
    --lin: 7px;
    --g: calc(var(--dist) / 100% * (100% - var(--lin)) + (var(--lin) / 2));
    background: linear-gradient(to right, white 0%, white calc(var(--g) - var(--sep)), transparent calc(var(--g) - var(--sep)), transparent calc(var(--g) + var(--sep)), darkgrey calc(var(--g) + var(--sep)), darkgrey 100%);
}

input[type="range"]::-webkit-slider-thumb {
    width: 13px;
    appearance: none;
    height: 22px;
    background: var(--fg);
    border-radius: 10px;
}

input[type="range"]:hover {
    --sep: 11px;
}

input[type="range"]::-webkit-slider-thumb:hover {
    width: 14px;
    height: 23px;
}

input[type="range"]:active {
    --sep: 12px;
}

input[type="range"]::-webkit-slider-thumb:active {
    width: 15px;
    height: 24px;
}

select {
    font-size: 15px;
    margin: 5px;
}

.draghandle {
    margin-right: 10px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #00000033; 
}

::-webkit-scrollbar-thumb {
  background: var(--weakfg); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--fg);
}

select {
    border-radius: 6px;
    background: var(--bg);
    color: var(--fg);
}

