:root {
    font-family: "system-ui";
    --outline-color: #352e2e;
}

body {
    height: 100vh;
}

#main {
    height: 100%;
}

.mainview {
    display: flex;
    height: 100%;
}

.like-button {
    background-image: url("assets/like.svg");
}

.dislike-button {
    background-image: url("assets/dislike.svg");
}

.skip-button {
    background-image: url("assets/skip.svg");
}
 
.skipprev-button {
    background-image: url("assets/skipprevious.svg");
}

.svg-button {
    width: 24px;
    aspect-ratio: 1;
    border: none;
    background-color: transparent;
}

.songview {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    border-right: 1px solid grey;
}

.songview .buttonrow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.listensview {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    overflow-y: scroll;
}

.imageview {
    width: 100%;
    aspect-ratio: 1;
        display: flex;
    justify-content: center;
    align-items: center;
}

.imageview img {
    object-fit: cover; 
    object-position: center center;
    overflow: hidden;
    width: 100%;
    border-radius: 8px
}

.menubar {
    border-top: 1px solid grey;
}

body {
    margin: 0;
    overflow: hidden;
    border-top: 1px solid var(--outline-color);
}

.progressrow {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.progressrow input {
    flex: 1 1 0;
}
