.editorbg {
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(0 0 0 / 48%);
    width: 400vw;
    z-index: 50;
    height: 400vw; 
}

.editorbox {
    z-index: 10;
    background: #1d2021;
    border: 1px solid #696969;
    border-radius: 8px;
    width: var(--width);
    top: calc(40vh - (var(--height) / 2));
    min-height: var(--height);
    height: fit-content;
    left: calc(50vw - (var(--width) / 2));
    position: absolute;
    box-shadow: 0 0 2px rgba(0, 0, 0, .32);
    padding: 10px;
    transition: bottom 0.2s;
    color: white;
}

.editorbox img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

.editorline {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.editormultiple {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.editorbox button {
    border: 1px solid grey;
    background: none;
    color: white;
    padding-left: 5px;
    border-radius: 5px
}

.editormultipleline {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.editoroptions {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.editoroptions button {
    color: #fff;
    display: flex;
    flex: 1 1 0;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}