/* roughly landscape */
@media (min-aspect-ratio: 1.2) {
    .trackview {
        flex-direction: row !important;
        height: calc(100vh - 100px);
    }

    .imageview {
        height: calc(100% - 40px);
        aspect-ratio: 1;
    }
    
    .trackcontrols {
        display: flex;
        flex: 1 1 0;
        padding: 20px;
        justify-content: flex-end;
    }

    .imageview img {
        width: 100%;
        aspect-ratio: 1;
    }
}

@media (max-aspect-ratio: 1.2) {
    .trackview {
        width: calc(100% - 40px);
    }

    .imageview {
        width: calc(100% - 40px);
        max-height: 50vh;
        overflow: hidden;
        aspect-ratio: 1;
    }

    .trackcontrols {
        display: flex;
        flex: 1 1 0;
        justify-content: center;
        min-height: 200px;
    }
    
    .imageview img {
        height: 100%;
        aspect-ratio: 1;
    }
}

.buttonrow button {
    flex: 1 1 0;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
}

.trackview {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.trackcontrols {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.trackview .buttonrow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.imageview img {
    object-fit: cover; 
    object-position: center center;
    overflow: hidden;
    border-radius: 8px;
    background: #0000008a center no-repeat url(icons/favicon.svg);
    margin: 10px 0;
    box-shadow: 0px 5px 10px #00000073;
}

.imageview {
    margin: auto;
    margin-top: 30px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trackview h3 {
    text-align: center;
    margin: 0;
}
 
.trackview span {
    text-align: center;
}

.trackblur {
    position: absolute;
    width: 120%;
    height: 120%;
    left: -10%;
    top: -10%;
    z-index: -1;
    background-size: 300%;
    background-position: center;
    filter: blur(100px) brightness(0.6);
}

.genresspecifier {
    display: flex;
    justify-content: center;
    gap: 10px;
    white-space: nowrap;
}

.artistspecifier {
    display: flex;
    justify-content: center;
    white-space: pre;
}

.albumspecifier {
    display: flex;
    justify-content: center;
    gap: 10px;
    white-space: nowrap;
}

/* Track Interactions */
.progressrow {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin: 10px 0;
}

.progressrow input {
    flex: 1 1 0;
}
