.optionsbg {
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(0 0 0 / 48%);
    width: 400vw;
    z-index: 50;
    height: 400vw; 
}

.trackoptions {
    --width: 300px;
    --height: 400px;
}

.optionbox {
    z-index: 10;
    background: #1d2021;
    border: 1px solid #696969;
    border-radius: 8px;
    width: var(--width);
    top: calc(40vh - (var(--height) / 2));
    min-height: var(--height);
    height: fit-content;
    left: calc(50vw - (var(--width) / 2));
    position: absolute;
    box-shadow: 0 0 2px rgba(0, 0, 0, .32);
    padding: 10px;
    transition: bottom 0.2s;
}

.largerheader {
    font-size: 24px;
}

.optionsboxmobile button {
    flex: 1 1 0;
    font-size: 16px;
}

.optionbox hr {
    border-color: #696969;
    margin: 10px 5px;
}

.optionbox button {
    border: none;
    background: none;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0;
    user-select: none;
}

.optionbox button img {
    filter: brightness(2);
    margin-right: 10px;
}

.optionbox h3 {
    margin: 0;
    font-weight: 500;
    margin-bottom: 10px;
}
